@import "tailwindcss";

@plugin '@tailwindcss/typography';


@layer base {
    html {
        font-size: 24px;
        font-family: "Zain",
            serif;
        font-weight: 400;
        font-style: normal;
    }

    /* region Fonts */
    .rubik-storm-regular {
        font-family: "Rubik Storm", serif;
        font-weight: 400;
        font-style: normal;
    }

    .zain-extralight {
        font-family: "Zain", serif;
        font-weight: 200;
        font-style: normal;
    }

    .zain-light {
        font-family: "Zain", serif;
        font-weight: 300;
        font-style: normal;
    }

    .zain-regular {
        font-family: "Zain", serif;
        font-weight: 400;
        font-style: normal;
    }

    .zain-bold {
        font-family: "Zain", serif;
        font-weight: 700;
        font-style: normal;
    }

    .zain-extrabold {
        font-family: "Zain", serif;
        font-weight: 800;
        font-style: normal;
    }

    .zain-black {
        font-family: "Zain", serif;
        font-weight: 900;
        font-style: normal;
    }

    .zain-light-italic {
        font-family: "Zain", serif;
        font-weight: 300;
        font-style: italic;
    }

    .zain-regular-italic {
        font-family: "Zain", serif;
        font-weight: 400;
        font-style: italic;
    }

    .honk-font {
        font-family: "Honk", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "MORF" 15,
            "SHLN" 50;
    }

    .oi-regular {
        font-family: "Oi", serif;
        font-weight: 400;
        font-style: normal;
    }

    .rubik-moonrocks-regular {
        font-family: "Rubik Moonrocks", serif;
        font-weight: 400;
        font-style: normal;
    }

    /* endregion Fonts */
}