---
import Prose from "./Prose.astro";
import Section from "./Section.astro";
---

<Section id="about">
    <Prose>
        <h2>About Us</h2>
        <p>
            Syzygy SF is a group of artists, musicians, makers, programmers and
            more, who are building a creative community in San Francisco's
            Mission district.
        </p>

        <p>
            Our mission is to create a space where people from all backgrounds
            can inspire each other, collaborate, and keep the spirit of all that
            is weird and creative alive in SF.
        </p>
    </Prose>
</Section>
