---
import MemberCard from "./MemberCard.astro";
import Section from "./Section.astro";
import Prose from "./Prose.astro";
import { getCollection } from "astro:content";

const members = await getCollection("members");
---

<Section fullWidth>
    <Section id="members" noSpace>
        <Prose>
            <h2>Members</h2>
        </Prose>
    </Section>
    <Section size="large" noSpace>
        <div
            class="w-full grid md:grid-cols-2 lg:grid-cols-3 gap-4 content-center"
        >
            {members.map((member) => <MemberCard member={member} />)}
        </div>
    </Section>
    <Section noSpace>
        <Prose>
            <p>&hellip; <a href="/#contact">and you?</a></p>
        </Prose>
    </Section>
</Section>
