---
import { Image } from "astro:assets";
import Card from "./Card.astro";
import Prose from "./Prose.astro";
import { render, type CollectionEntry } from "astro:content";

interface Props {
    member: CollectionEntry<"members">;
}

const { member } = Astro.props;
const { Content } = await render(member);
---

<Card>
    <Image
        src={member.data.photo}
        alt={member.data.name}
        class="w-full"
        slot="header"
    />
    <Prose>
        <h3>{member.data.name}</h3>
        <Content />
    </Prose>
</Card>
